body {
  background-color: rgb(80, 214, 169);
  font-family: "Rockwell", sans-serif;
}

.header {
  text-align: center;
}

.body {
  width: 100%;
}

.footer {
  clear: both;
  text-align: center;
  font-style: italic;
  border: solid 2px blue;
}

.column {
  float: left;
  border: solid 2px red;
  padding: 5px;
}

.name {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  color: rgb(105, 22, 11);
}

#members {
  /* float: left; */
  width: 25%;
}

#bio {
  width: 50%;
}

#shows {
  /* float: right; */
  width:20%;
}